.navigationbar{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background-color: gold;
    height:40px;
}

.navigationbar_body{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.nagivationbar_logo a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

.nagivationbar_spacer{
    flex:1;
}

.navigationbar_items ul{
    list-style: none;
    margin:0;
    padding: 0;
    display: flex;
}

.navigationbar_items li{
    padding:0 0.5rem;
}



.navigationbar_items p{
    color: white;
    text-decoration: none;
}

.navigationbar_items p:hover,
.navigationbar_items p:active{
    color:#fa923f;
}


